<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chenzmSearching</title>
</head>
<body>
    <h1 style="background-color:red;">习近平系列重要讲话数据库</h1>
    <form action="/search" method="get">
        <input type="text" name="q">
        <input type="submit" value="搜索">
    </form>
    <img src="http://p5.img.cctvpic.com/photoworkspace/contentimg/2014/07/17/2014071711493645920.jpg"/>
    <img src="http://imgnews.gmw.cn/attachement/jpg/site2/20161221/f44d305ea48e19c4362142.jpg"/>
</body>
</html>